<template>
<div>
    <MainHeader/>
<div class="container" >

    <div class="row">
        <div class="col-3" >
            <Stmain/>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="col-sm-9" >
          <h5 style="text-align: center;color:  rgba(215,215,215,0.87); border: 2px dotted   white; border-radius: 5px;background-color: rgba(0,0,51,0.8);margin-left: 30px; margin-top: 20px">Урматтуу  {{this.$store.state.StudentInfo.name_student}} {{this.$store.state.StudentInfo.surname_student}}  Катышууну системасына кош келдиниз  ! </h5>

          <div class="row " style="margin-top: 20px;margin-left: 25px;">
            <div class="col-sm-3 sabaktar " v-for="item in GradesAttendance" >
             <a href="#" style="text-align: center;"><h3>{{item.lesson_name}}</h3></a>
              <a href="#" style="text-align: center;"><h3>{{item.grade}}</h3></a>
              <a href="#" style="text-align: center;"><h3>{{item.come}}</h3></a>


            </div>
<!--            <div class="col-sm-3 sabaktar">-->
<!--                <a href="#" style="text-align: center;"><h3>орус тили</h3></a>-->
<!--            </div>-->
<!--            <div class="col-sm-3 sabaktar" >-->
<!--                <a href="#" style="text-align: center;"><h3>математика</h3></a>-->
<!--            </div>-->
<!--            <div class="col-sm-3 sabaktar">-->
<!--                <a href="#" style="text-align: center;"><h3>физика</h3></a>-->
<!--            </div>-->
<!--            <div class="col-sm-3 sabaktar">-->
<!--                <a href="#" style="text-align: center;"><h3>химия</h3></a>-->
<!--            </div>-->
<!--            <div class="col-sm-3 sabaktar" >-->
<!--                <a href="#" style="text-align: center;"><h3>тарых</h3></a>-->
<!--            </div>-->
<!--            <div class="col-sm-3 sabaktar">-->
<!--              <a href="#" style="text-align: center;"><h3>физика</h3></a>-->
<!--            </div>-->
<!--            <div class="col-sm-3 sabaktar">-->
<!--              <a href="#" style="text-align: center;"><h3>химия</h3></a>-->
<!--            </div>-->

           </div>
        </div>

    </div>

</div>
</div>
</template>
<script>
import Stmain from '@/components/Student/Stmain'
import MainHeader from '@/components/MainHeader'
import {mapGetters} from 'vuex';
export default {
     data() {
    return {
    }
  },

  components: {
    Stmain,MainHeader
  },
  methods:{
    },
  computed : {
    ...mapGetters(['GradesAttendance']),
    // Другие вычисляемые свойства
  },
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
    .sabaktar{
      border-radius: 12px;
      border: 2px dotted  white;
      color: white;

      background-color: rgba(0,0,51,0.8);
      padding-bottom: 50px;
      padding-top: 50px;
    }
    .sabaktar h3{
      color: white;

    }
    .sabaktar a{
      text-decoration: none;
    }
    .sabaktar:hover{
      background-color: rgba(0,0,51);
    }
</style>


