<template>
<div>
    <MainHeader/>
    <div class="container" >
      <div class="row">
            <div class="col-3" >
                <Stmain/>
            </div>
        <!------------------------------------------------------------------------------------------------------------------------->
           <div class="col-sm-9" style="padding-top: 20px; " >
<!--             <h5 >Урматтуу  {{this.$store.state.ParentInfo.name_parent}} {{this.$store.state.ParentInfo.surname_parent}}  жеке маалымат системасына кош келдиниз  ! </h5>-->
             <div class="col-11" style=" text-align: center;background-color: rgba(0,0,51,0.8); height: 30px;margin-left: 30px;margin-right: 0px;color: white">
               Урматтуу {{this.$store.state.StudentInfo.name_student}} {{this.$store.state.StudentInfo.surname_student}}   жеке маалымат системасына кош келдиниз  !
             </div>

             <div class="row" style="margin-left: 15px;   margin-top: 22px;"  >
                    <div class="col-9"  style="">

                        <table class="table table1" style="color: white;border:solid 1px #24282f">
                            <thead>
                            </thead>
                            <tbody>
                            <tr >

                                <td >Аты</td>
                                <td>{{info.name_student}}</td>
                            </tr>
                            <tr>

                                <td>Фамилиясы</td>
                                <td>{{info.surname_student}}</td>

                            </tr>
                            <tr>
                                <td>E-почта</td>
                                <td >{{info.email}}</td>
                            </tr>
                            <tr>
                                <td >Классы</td>
                                <td>{{info.klass}}</td>
                            </tr>
                            <tr>
                                <td >Ата-энесинин аты-жону</td>
                                <td >{{info.name_parent}}
                                <br>{{info.surname_parent}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>


                    <div class="col-3"  style="background-color: rgba(0,0,51,0.8);margin-left: -15px;margin-bottom: 15px; font-size: 150px; color: #f9f9f9;padding-left: 30px" >
                      <i class="fa fa-user-circle" aria-hidden="true"></i><!--
<img src="../../assets/img/st.png" alt="Avatar" style="vertical-align: middle; width: 150px; height: 150px;border-radius: 10%;color: rgba(0,0,51,0.8); ">-->
                    </div>
                </div>
          
            </div>
      </div>
    </div>

</div>
</template>
<script>
import Stmain from '@/components/Student/Stmain'
import MainHeader from '@/components/MainHeader'
import axios from 'axios'


export default {
    components: {
        Stmain, MainHeader
    },
    data() {
        return {
            info:[],
            klass: null
        }
    },
    methods: {},
    mounted() {
                // axios
                //     .get('http://ctmax.d-oracle.com/videos/')
                //     .then(response => (this.info = response));
        this.info=this.$store.state.StudentInfo;
    }
}

</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
    h5{
      text-align: center;
      color:  rgba(215,215,215,0.87);
      border-radius: 5px;
      background-color: rgba(0,0,51,0.8);
      margin-left: 25px;
    }

    tr:hover{
        background-color:  rgba(0,0,51,9);
        color:  whitesmoke;
    }
  .table1{
    color: white;
    margin-right: 0px;
    background-color: rgba(0,0,51,0.8);
    /*border: 1px solid white;*/
  }

</style>
