<template>
    <div>
        <MainHeader/>
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                    <Stmain/>
                </div>
                <div class="col-sm-9" style="margin-top: 20px">
<!--                  <h5 style="text-align: center;color:  rgba(215,215,215,0.87); border: 2px dotted   white; border-radius: 5px;background-color: rgba(0,0,51,0.8);margin-left: 30px">Урматтуу  {{this.$store.state.StudentInfo.name_student}} {{this.$store.state.StudentInfo.surname_student}}  жеке маалымат системасына кош келдиниз  ! </h5>-->

                  <div class="col-11.5" style=" text-align: center;background-color: rgba(0,0,51,0.8); height: 30px;margin-left: 30px;margin-right:0px;color: white">
                    Урматтуу {{this.$store.state.StudentInfo.name_student}} {{this.$store.state.StudentInfo.surname_student}}   сабактардын жадыбалы системасына кош келдиниз  !
                  </div>
<!--                  <div class="row">-->


         <div class="col-11.5"style="background-color: rgba(0,0,51,0.8);;margin-top: 20px;margin-left: 30px;">
           <div class="row" style=" margin-left: 1px;margin-right: 1px">
                      <div class="col-sm-2" style="color:white;border: 1px solid white">
                          <div class="col-6">
                            day
                          </div>

                          <div class="col-6">
                           chas
                          </div>
                      </div>
                      <div class="col-sm-2" style="color:white;border: 1px solid white">
                          Дуйшонбу
                      </div>
                      <div class="col-sm-2" style="color:white;border: 1px solid white">
                        Шейшемби
                      </div>
                      <div class="col-sm-2" style="color:white;border: 1px solid white">
                        Шаршемби
                      </div>
                      <div class="col-sm-2" style="color:white;border: 1px solid white">
                        Бейшемби
                      </div>
                      <div class="col-sm-2" style="color:white;border: 1px solid white">
                        Жума
                      </div>

           </div>
             <div class="row" style=" margin-left: 1px;margin-right: 1px">
                        <div class="col-sm-2" style="color:white;">
                           <div class="row" style="padding-top: 12px;padding-bottom: 10px;border: 1px solid white;text-align: center; padding-left:12px">
                                8-00: 9-45
                           </div>
                            <div class="row" style="padding-top: 12px;padding-bottom: 10px;border: 1px solid white;text-align: center;padding-left: 12px">
                                 9-50: 10-35
                            </div>
                            <div class="row" style="padding-top: 12px;padding-bottom: 10px;border: 1px solid white;text-align: center;padding-left: 12px">
                                10-45: 11-30
                            </div>
                            <div class="row" style="padding-top: 12px;padding-bottom: 10px;border: 1px solid white;text-align: center;padding-left: 12px">
                                11-35: 12-20
                            </div>
                            <div class="row" style="padding-top: 12px;padding-bottom: 10px;border: 1px solid white;text-align: center;padding-left: 12px">
                                12-35: 13-20
                            </div>


                        </div>
<!--            //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////-->
                        <div class="col-sm-2" style="color:white;padding: 0px;border-right: 1px solid white; border-bottom: 1px solid white">
                          <div  class="col-sm-12" style=" padding-top: 12px;padding-bottom: 10px; padding-left:12px;" v-for="item in table.day1">
                                {{item.lesson_name}}
                          </div>
                        </div>
                        <div class="col-sm-2" style="color:white;;padding: 0px;border-right: 1px solid white; border-bottom: 1px solid white">

                           <div  class="col-sm-12" style=" padding-top: 12px;padding-bottom: 10px; padding-left:12px; " v-for="item in table.day2">
                               {{item.lesson_name}}
                           </div>

                        </div>
                       <div class="col-sm-2" style="color:white;padding: 0px;border-right: 1px solid white; border-bottom: 1px solid white">

                         <div  class="col-sm-12" style=" padding-top: 12px;padding-bottom: 10px; padding-left:12px; "  v-for="item in table.day3">
<!--                           <div class="row" style="padding-top: 12px;padding-bottom: 10px;border-top: 1px solid white;border-left: 1px solid white;border-bottom: 1px solid white">-->
                             {{item.lesson_name}}
<!--                           </div>-->
                         </div>

                       </div>
                       <div class="col-sm-2" style="color:white;padding: 0px;border-right: 1px solid white; border-bottom: 1px solid white">
                         <!--                          <div class="row" style="background-color: darkviolet;margin-right: 1px;margin-left: 0px">-->

                         <div  class="col-sm-12" style=" padding-top: 12px;padding-bottom: 10px; padding-left:12px; " v-for="item in table.day4">
<!--                           <div class="row" style="padding-top: 12px;padding-bottom: 10px;border-top: 1px solid white;border-left: 1px solid white;border-bottom: 1px solid white">-->
                             {{item.lesson_name}}
<!--                           </div>-->
                           <!--                            </div>-->
                         </div>

                       </div>
                       <div class="col-sm-2" style="color:white;padding: 0px;border-right: 1px solid white; border-bottom: 1px solid white">
                         <!--                          <div class="row" style="background-color: darkviolet;margin-right: 1px;margin-left: 0px">-->

                         <div  class="col-sm-12" style=" " v-for="item in table.day5">
<!--                           <div class="row" style="padding-top: 12px;padding-bottom: 10px;">-->
                             {{item.lesson_name}}
<!--                           </div>-->
                           <!--                            </div>-->
                         </div>

                       </div>
              </div>
         </div>

<!--                        <div class="col-2" style="background-color: #FFC312">-->
<!--                          jvbkfdjkbvkjfbjkhbg-->
<!--                        </div>-->
<!--                        <div class="col-2" style="background-color: #FFC312">-->
<!--                          jvbkfdjkbvkjfbjkhbg-->
<!--                        </div>-->




<!--                  <div class="row" style="margin-top: 20px;margin-left: 30px;margin-right: 5px " >-->
<!--                    <div class="col col1" style="">-->
<!--                      <div class=" head">  <div class=" "> Day</div>  <div class=" ">N</div></div>-->
<!--                      <div class=" sabaktar">8-00: 9-45</div>-->
<!--                      <div class=" sabaktar">8-00 9-45</div>-->
<!--                      <div class=" sabaktar">8-00 9-45</div>-->
<!--                      <div class=" sabaktar">8-00 9-45</div>-->
<!--                      <div class=" sabaktar">8-00 9-45</div>-->
<!--                      <div class=" sabaktar">8-00 9-45</div>-->
<!--                    </div>-->
<!--                    <div class="row" v-for="item in table.day1>-->
<!--                      <div class="col col1" style="">-->
<!--                        <div class=" head">Дуйшонбу</div>-->
<!--                        <div class=" sabaktar">{{item.lesson_name}}</div>-->
<!--                      </div>-->
<!--                    </div>-->

<!--                    <div class="col col1" style="" v-for="item in table.day2">-->
<!--                      <div class=" head">Шаршенби</div>-->
<!--                      <div class=" sabaktar">{{item.lesson_name}}</div>-->
<!--                    </div>-->
<!--                    <div class="col col1" style="" v-for="item in table.day3">-->
<!--                      <div class=" head">Шейшенби</div>-->
<!--                      <div class=" sabaktar">{{item.lesson_name}}</div>-->
<!--                    </div>-->
<!--                    <div class="col col1" style="" v-for="item in table.day4">-->
<!--                      <div class=" head">Бейшенби</div>-->
<!--                      <div class=" sabaktar">{{item.lesson_name}}</div>-->
<!--                    </div>-->
<!--                    <div class="col col1" style="" v-for="item in table.day4">-->
<!--                      <div class=" head">Жума</div>-->
<!--                      <div class=" sabaktar">{{item.lesson_name}}</div>-->
<!--                    </div>-->
<!--                    -->

<!--                    <div class="col col1" style="">-->
<!--                      <div class=" head">Шаршенби</div>-->
<!--                      <div class=" sabaktar">{{day2[0].lesson_name}}</div>-->
<!--                    </div>-->

<!--                    <div class="col col1" style="">-->
<!--                      <div class=" head"> Шейшенби </div>-->
<!--                      <div class=" sabaktar">{{day3[0].lesson_name}}</div>-->
<!--                      <div class=" sabaktar">{{day3[1].lesson_name}}</div>-->

<!--                    </div>-->
<!--                    <div class="col col1"style="">-->
<!--                      <div class=" head"> Бейшенби </div>-->
<!--                      <div class=" sabaktar">{{day4[0].lesson_name}}</div>-->

<!--                    </div>-->
<!--                    <div class="col col1" style="" v-for="(item,index) in day5">-->
<!--                      <div class=" head"> Жума </div>-->
<!--                      <div class=" sabaktar">{{day5[index].lesson_name}}</div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import Stmain from '@/components/Student/Stmain'
    import MainHeader from '@/components/MainHeader'
    import {mapGetters} from 'vuex';
    export default {
      components: {
        Stmain,MainHeader
      },
        data() {
            return {
              day:[],
              day1:[],
              day2:[],
              day3:[],
              day4:[],
              day5:[],
            }
        },
        methods:{
        },
      mounted() {
        // axios
        //     .get('http://ctmax.d-oracle.com/videos/')
        //     .then(response => (this.info = response));
        this.day = this.$store.getters.table.day1;
        console.log('day1: ', this.$store.getters.table.day1);
        this.day2 = this.$store.getters.table.day2;
        this.day3=this.$store.getters.table.day3;
        this.day4=this.$store.getters.table.day4;
        this.day5=this.$store.getters.table.day5;

        console.log('BBBB: ', this.day);

        var i=1
          for(var key in this.day){
            if(this.day[key].number===i){
              this.day1[key]=this.day[key].lesson_name
              i++;
            }
            else{
              this.day1[key]="0"
            }
          }
        console.log('day1: ', this.day1);
      },

      computed: {
        ...mapGetters([
          'table',

        ]),
      },
    //

    }
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
    .sabaktar{

         /*border: 2px dotted  white;*/
         color: white;

         background-color: rgba(0,0,51,0.8);
         height: 60px;
         margin-right: 0px;
         margin-left: 0px;
       }
    .head{


      color: white;

      background-color: rgba(0,0,51,0.8);
      height: 60px;
      margin-right: 0px;
      margin-left: 0px;
    }
    .col1{
      margin: 0px;
      padding: 0px;
    }
    .sabaktar:hover{
      background-color: rgba(0,0,51);
    }
</style>
