<template>
<div>
    <MainHeader/>
<div class="container" >

    <div class="row">
        <div class="col-3" >
            <Smenu/>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="col-9" >
        <table class="table table-bordered table-dark raspisaniye" >
        <thead style="background-color:#2C5D9C ">
        <tr>
            <th scope="col">N-</th>
            <th scope="col">сааты</th>
            <th scope="col">Дуйшонбу</th>
            <th scope="col">Шейшемби</th>
            <th scope="col">Шаршемби</th>
            <th scope="col">Бейшемби</th>
            <th scope="col">Жума</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="col">1</th>
            <th scope="row">8:00</th>
            <th scope="col">математика</th>
            <th scope="col">Кыргыз-тили</th>
            <th scope="col">Орус-тили</th>
            <th scope="col">Тарых</th>
             <th scope="col">Орус-тили</th>
        </tr>
        <tr>
            <th scope="col">2</th>
            <th scope="row">8:50</th>
            <th scope="col">тарых</th>
             <th scope="col">математика</th>
            <th scope="col">Кыргыз-тили</th>
            <th scope="col">Биология</th>
             <th scope="col">Орус-тили</th>

        </tr>
        <tr>
            <th scope="col">3</th>
            <th scope="row">9:40</th>
            <th scope="col">кыршыз тили</th>
             <th scope="col">математика</th>
            <th scope="col">Орус-тили</th>
            <th scope="col">Биология</th>
             <th scope="col">Орус-тили</th>
        </tr>
        <tr>
            <th scope="row">4</th>
            <th scope="row">10:35</th>
            <th scope="col">орус тили</th>
             <th scope="col">математика</th>
            <th scope="col">Кыргыз-тили</th>
            <th scope="col">Орус-тили</th>
            <th scope="col">Биология</th>
        </tr>
        <tr>
            <th scope="row">5</th>
            <th scope="row">11:25</th>
             <th scope="col">математика</th>
            <th scope="col">Кыргыз-тили</th>
            <th scope="col">Орус-тили</th>
            <th scope="col">Биология</th>
             <th scope="col">Орус-тили</th>

        </tr>
        <tr>
            <th scope="row">6</th>
            <th scope="row">12:15</th>
             <th scope="col">математика</th>
            <th scope="col">Кыргыз-тили</th>
            <th scope="col">Орус-тили</th>
            <th scope="col">Биология</th>
             <th scope="col">Орус-тили</th>

        </tr>
        </tbody>
    </table>
            </div>
        </div>

    </div>

</div>
</template>
<script>
import Smenu from '@/components/supervisor/Smenu'
import MainHeader from '@/components/MainHeader'


export default {
     data() {
    return {
    }
  },
  methods:{
    },
  components: {
    Smenu,MainHeader
  }
}
</script>
<style lang="">
    @import 'bootstrap/dist/css/bootstrap.min.css';
</style>


