<template >
  <div>

    <MainHeader/>
    <div class="container" >

      <div class="row">
        <div class="col-3" >
          <Pmenu/>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="col-sm-9" style="margin-top: 20px;" >
          <div class="col-11" style=" text-align: center;background-color: rgba(0,0,51,0.8); height: 30px;margin-left: 30px;margin-right: 0px; color: white">
            Урматтуу {{this.$store.state.ParentInfo.name_parent}} {{this.$store.state.ParentInfo.surname_parent}} баланыздын  сабактарынын жадыбалы системасына кош келдиниз  !
          </div>
          <div class="row " style="margin-top: 20px;margin-left:20px;"  >
            <div class="col-sm-3 sabaktar0 " v-for="item in childrens"  @click="Ttable(item.id_klass)" >
              <h3> {{item.name_student}} {{item.surname_student}}</h3>

            </div>

          </div>

        </div>
      </div>
    </div>




  </div>


</template>

<script>
  import Pmenu from '@/components/parent/Pmenu'
  import MainHeader from '@/components/MainHeader'
  import {mapGetters} from 'vuex';
  export default {
    components: {
      Pmenu,MainHeader
    },
    data() {
      return {
      }
    },
    methods:{
      Ttable(id_klass) {
        // const { username, password } = this;
        //this.klassID=this.$store.state.id_klass;
        this.$store.dispatch('TimeTableAction',id_klass)
        this.$router.push('/Praspisaniye')

      },
    },
    computed : {
      ...mapGetters(['weeks']),
      ...mapGetters(['childrens',]),
      ...mapGetters(['GradesAttendance']),

    },



  }
</script>
<style  >
  @import 'bootstrap/dist/css/bootstrap.min.css';
  /*  .header{*/
  /*    width: 800px;*/
  /*    !*background-color: #FFC312;*!*/
  /*    margin-top: 110px;*/
  /*    !*position: relative;*!*/
  /*}*/


  .sabaktar0{
    background-color: rgba(0,0,51,0.8);
    padding-left: 46px;
    padding-right: 44px;
    padding-top: 44px;
    padding-bottom: 44px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: white;
    border-radius: 12px;
    /*border: 2px dotted  white;*/
  }


  .sabaktar0:hover{
    background-color: rgba(0,0,51,0.7);
    text-decoration: none;
  }
  h6{
    text-align: center;
    height: 30px;
    font-weight: inherit;
    color: #f0f0f0;
    /*border: 2px dotted   white;*/
    border-radius: 10px;
    background-color: rgba(0,0,51,0.8);
    margin-left: 30px; margin-top: 20px;
  }


  h6{
    text-align: center;
    height: 30px;
    font-weight: inherit;
    color: #f0f0f0;
    /*border: 2px dotted   white;*/
    border-radius: 10px;
    background-color: rgba(0,0,51,0.8);
    margin-left: 30px; margin-top: 20px;
  }


</style>


