<template>
  <div>
    <MainHeader/>
    <div class="container" >

      <div class="row">
        <div class="col-3" >
          <Pmenu/>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="col-sm-9 " style="margin-top: 20px;" >
          <!--                                                   <p style="text-align: center;color:  rgba(215,215,215,0.87);background-color: rgba(0,0,51,0.8);margin-left: 30px">Урматтуу  {{this.$store.state.StudentInfo.name_student}} {{this.$store.state.StudentInfo.surname_student}}  e-кундолук  маалымат системасына кош келдиниз  ! </p>-->
          <div class="col-11" style=" text-align: center;background-color: rgba(0,0,51,0.8); height: 30px;margin-left: 30px;margin-right: 0px;color: white">
            Урматтуу {{this.$store.state.ParentInfo.name_parent}} {{this.$store.state.ParentInfo.surname_parent}}   e-кундолук  маалымат системасына кош келдиниз  !

          </div>
          <div class="row" style="padding-bottom:10px;margin-top:20px;background-color: rgba(0,0,51,0.8); !important; text-align:left; padding-left: 5%;padding-right: 5%;margin-left: 30px;margin-right: 37px">
            <div class="divi"> Биз ата-энелерге,окуучуларга, мугалимдерге коп маалыматтарды оз убагында жана оной эле жетишуусуно мумкунчулук жаратабыз.
              Ата-энелер балдарынын бааларын, катышууларын жана балдарынын мугалимдери тууралуу маалыматтарды коруу мумкунчулукторуно ээ.
              Ал эми мугалимдер болсо, окуучулардын бааларын, катышууларын,ташырмаларын кошо алат.
              Ата-энелер балдарынын бааларын, катышууларын жана балдарынын мугалимдери тууралуу маалыматтарды коруу мумкунчулукторуно ээ.Биз менен бирге болунуздар!
            </div>

            <router-link :to="'PE_info'" id="myBtn">Кененирээк маалымат <i class="fa fa-video-camera" aria-hidden="true"></i> </router-link><br>
          </div>
        </div>

      </div>

    </div>
  </div>
</template>
<script>
  import Pmenu from '@/components/parent/Pmenu'
  import MainHeader from '@/components/MainHeader'

  export default {
    data() {
      return {
      }
    },
    methods:{
    },
    components: {
      Pmenu,MainHeader
    }
  }
</script>
<style scoped  >
  @import 'bootstrap/dist/css/bootstrap.min.css';

  #myBtn {
    width: 220px;
    margin: auto;
    /*border: 2px dotted  white;*/
    font-size: 18px;
    background-color: rgb(0,0,51);
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    border-radius: 12px;
  }

  #myBtn:hover {
    background-color: rgba(0,0,51,0.7);
    color: white;
  }
  .divi{
    margin-left: 40px;
    margin-right: 40px;
    padding: 0px;
    margin-top: 20px;
    color:white;
    /*font-size: 120%;*/

  }
</style>


