<template >
  <div>

    <MainHeader/>
    <div class="container" >

      <div class="row">
        <div class="col-3" >
          <Pmenu/>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="col-sm-9" style="margin-top: 20px;" >
          <div class="col-11" style=" text-align: center;background-color: rgba(0,0,51,0.8); height: 30px;margin-left: 30px;margin-right: 0px; color: white">
            Урматтуу {{this.$store.state.ParentInfo.name_parent}} {{this.$store.state.ParentInfo.surname_parent}} баланыздын бааларын коруу системасына кош келдиниз  !
          </div>
          <div class="row " style="margin-top: 20px;margin-left:20px;"  >
            <div class="col-sm-3 sabaktar0 " v-for="item in childrens"  @click="ChildBaa(item.id_klass,item.id_student)" >
              <h3> {{item.name_student}} {{item.surname_student}}</h3>

            </div>

            <!--            <div class="col-sm-5.5 sabaktar0 " v-for="item in weeks"  @click="WeekId(item.id_week)" >-->
            <!--              <div class="sabaktar1">-->
            <!--                <a href="#" style="text-align: center; text-decoration: none;"><h3>week {{item.week}}</h3></a>-->
            <!--              </div>-->
            <!--            </div>-->
          </div>

        </div>
      </div>
    </div>


    <div id="myNav" class="overlay photoBack">

      <div class="row" style="margin: auto">
        <div class="col-sm-11 header" >
          <h6>            Урматтуу {{this.$store.state.ParentInfo.name_parent}} {{this.$store.state.ParentInfo.surname_parent}} баланыздын бааларын коруу системасына кош келдиниз  !
          </h6>
        </div>


      </div>
      <div class="row" style="margin-left: 30px ;margin-top: 10px" >
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-4 sabaktar2 " v-for="item in weeks"    @click="ChildWeekId(item.id_week)" >
              <div class="sabaktar3">
                <a href="#" style="text-align: center; text-decoration: none;"> <h3>жума {{item.week}}</h3></a>
              </div>
            </div>
          </div>
          <!--          <div class="row">-->
          <!--            <div class="col-sm-4 sabaktar2 " v-for="item in weeks"  @click="WeekId(item.id_week)" >-->
          <!--              <div class="sabaktar3">-->
          <!--                <a href="#" style="text-align: center; text-decoration: none;"> <h3>week {{item.week+4}}</h3></a>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->

        </div>

        <div class="col-sm-8" id="childbaa" style="color:white;">
          <div class="row ">
            <div class="col-sm-4 border1" style=" background-color: rgba(0,0,51,0.8);;border: 1px solid white;text-align: center; font-size: 18px;padding-top: 5px;padding-bottom: 5px">
              Сабактын аталышы
            </div>
            <div class="col-6 border1" style=" background-color: rgba(0,0,51,0.8);border: 1px solid white;text-align: center; font-size: 18px;padding-top: 5px;padding-bottom: 5px">
              Тапшырма
            </div>
          </div>
          <div class="row " v-for="item in HomeWork" >
            <div class="col-sm-4 border1" style=" background-color: rgba(0,0,51,0.7);;border: 1px solid white;text-align: center; font-size: 18px;padding-top: 3px;padding-bottom: 1px">
              {{item.lesson_name}}
            </div>
            <div class="col-6 border1" style=" background-color: rgba(0,0,51,0.7);border: 1px solid white;text-align: center; font-size: 18px;padding-top: 3px;padding-bottom: 1px">
              {{item.homework}}
            </div>
            <!--            <div class="col-2 border1" style=" background-color: rgba(0,0,51,0.7);border: 1px solid white;text-align: center; font-size: 18px;padding-top: 3px;padding-bottom: 1px">-->
            <!--              <p style="font-size: 8px; color: #f50000" v-if=" item.come"><i style="color: #f20000" class="fa fa-check " aria-hidden="true"></i></p>-->
            <!--              <p style="font-size: 10px ;color: white" v-else><i class="fa fa-times fa-lg" aria-hidden="true"></i></p>-->

            <!--            </div>-->
          </div>

          <!--          <div class="col-sm-3 sabaktar " v-for="item in GradesAttendance" >-->
          <!--            <a href="#" style="text-align: center;"><h3>{{item.lesson_name}}</h3></a>-->
          <!--            <a href="#" style="text-align: center;"><h3>{{item.grade}}</h3></a>-->
          <!--            <a href="#" style="text-align: center;"><h3>{{item.come}}</h3></a>-->
          <!--          </div>-->

        </div>

      </div>
      <router-link :to="'E_info'" id="myBtn3" @click="closeNav()" style="">  артка </router-link><br>
    </div>

  </div>


</template>

<script>
  import Pmenu from '@/components/parent/Pmenu'
  import MainHeader from '@/components/MainHeader'
  import {mapGetters} from 'vuex';
  export default {
    components: {
      Pmenu,MainHeader
    },
    data() {
      return {
      }
    },
    methods:{
      ChildBaa( id_klass,id_student){
        console.log('id_klass:',id_klass,"id_student:",id_student)
        document.getElementById("myNav").style.width = "100%";
        const data = {'key1':id_klass,'key2': id_student}
        this.$store.dispatch('WeekGradesAttendanceForParent',data)
      },

      ChildWeekId(id_week){
        const klassID=this.$store.state.id_klass_parent_child
        const data = {'key1':id_week,'key2': klassID,}
        console.log('klassID:',klassID)
        this.$store.dispatch('HomeWorkAction',data)
        // this.$router.push('/HomeWork')
        document.getElementById("childbaa").style.display = "block";
      },
      closeNav() {
        document.getElementById("myNav").style.width = "0%";
      }
    },
    computed : {
      ...mapGetters(['weeks']),
      ...mapGetters(['childrens',]),
      ...mapGetters(['HomeWork']),

    },



  }
</script>
<style  >
  @import 'bootstrap/dist/css/bootstrap.min.css';
  /*  .header{*/
  /*    width: 800px;*/
  /*    !*background-color: #FFC312;*!*/
  /*    margin-top: 110px;*/
  /*    !*position: relative;*!*/
  /*}*/

  .photoBack{
    background-image: url("../../assets/img/book2.jpg");
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(0,0,51,0.8);
    /*background: url(../img/bg.jpg) no-repeat;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
  }
  .sabaktar0{
    background-color: rgba(0,0,51,0.8);
    padding-left: 46px;
    padding-right: 44px;
    padding-top: 44px;
    padding-bottom: 44px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 20px;
    color: white;
    border-radius: 12px;
    /*border: 2px dotted  white;*/
  }
  .sabaktar1{
    border-radius: 12px;
    /*border: 2px dotted  white;*/
    color:#f0f0f0;
    text-decoration: none;


  }
  .sabaktar1 h3{
    color: #f0f0f0;

  }
  .sabaktar1 a{
    text-decoration: none;
  }
  .sabaktar0:hover{
    background-color: rgba(0,0,51,0.7);
    text-decoration: none;
  }
  h6{
    text-align: center;
    height: 30px;
    font-weight: inherit;
    color: #f0f0f0;
    /*border: 2px dotted   white;*/
    border-radius: 10px;
    background-color: rgba(0,0,51,0.8);
    margin-left: 30px; margin-top: 20px;
  }

  .border1{
    /*border-radius: 12px;*/
    /*border: 2px dotted  white;*/
  }

  .header{
    width: 800px;
    margin-top: 100px;
    /*position: relative;*/
  }
  .sabaktar2{
    background-color: rgba(0,0,51,0.7);
    padding: 10px;
    /*padding-left: 44px;*/
    /*padding-right: 44px;*/
    /*padding-top: 44px;*/
    /*padding-bottom: 44px;*/
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 20px;

    border-radius: 12px;
    /*border: 2px dotted  white;*/
  }
  .sabaktar3{
    border-radius: 12px;
    /*border: 2px dotted  white;*/
    color:#f0f0f0;
    text-decoration: none;


  }
  .sabaktar3 h3{
    color: #f0f0f0;

  }
  .sabaktar3 a{
    text-decoration: none;
  }
  .sabaktar2:hover{
    background-color: rgba(0,0,51,0.7);
  }
  .sabaktar3:hover{
    background-color: rgba(0,0,51,0.7);
    text-decoration: none;
  }
  h6{
    text-align: center;
    height: 30px;
    font-weight: inherit;
    color: #f0f0f0;
    /*border: 2px dotted   white;*/
    border-radius: 10px;
    background-color: rgba(0,0,51,0.8);
    margin-left: 30px; margin-top: 20px;
  }

  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    /*background-image: url("/../just_staj-ii_project/src/assets/img/baground.jpg");*/
    background-color: rgb(0,0,51);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    /*top: 0px;*/
    right: 45px;
    font-size: 60px;
    background-color: #049372;
  }

  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      /*top: 50px;*/
      right: 35px;
    }
  }

  #myBtn3 {
    width: 80px;
    margin-left: 85%;
    height: 45px;
    text-align: center;
    /*margin-top: -50px;*/
    font-size: 18px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 12px;
    /*border: 2px dotted  white;*/
    background-color: rgba(0,0,51,0.8);
    color: #fff;
    cursor: pointer;
    text-decoration: none;

  }
  #myBtn2:hover {
    background: #ddd;
    color: black;
  }
  #childbaa{
    display: none;
  }
</style>


