<template>
  <div>
    <MainHeader/>
    <div class="container" >
      <div class="row">
        <div class="col-3" >
          <Pmenu/>
        </div>
        <!------------------------------------------------------------------------------------------------------------------------->
        <div class="col-sm-9" style="padding-top: 20px; " >
<!--          <h5 style="text-align: center;color:  rgba(215,215,215,0.87); border: 2px dotted   white; border-radius: 5px;background-color: rgba(0,0,51,0.8);margin-left: 25px">Урматтуу  {{this.$store.state.StudentInfo.name_student}} {{this.$store.state.StudentInfo.surname_student}}  жеке маалымат системасына кош келдиниз  ! </h5>-->
          <div class="col-11" style=" text-align: center;background-color: rgba(0,0,51,0.8); height: 30px;margin-left: 30px;margin-right: 0px; color: white">
            Урматтуу {{this.$store.state.ParentInfo.name_parent}} {{this.$store.state.ParentInfo.surname_parent}}   жеке  маалымат системасына кош келдиниз  !
          </div>

         <div class="row"style="margin-left: 15px;   margin-top: 20px;"  >
            <div class="col-8" >

              <table class="table " style="color: white;background-color: rgba(0,0,51,0.8);;" >
                <thead>
                </thead>
                <tbody>
                <tr>

                  <td >Аты</td>
                  <td>{{info.name_parent}}</td>
                </tr>
                <tr>

                  <td>Фамилиясы</td>
                  <td>{{info.surname_parent}}</td>

                </tr>
                <tr>
                  <td>E-почта</td>
                  <td >{{info.email}}</td>
                </tr>
                <tr>
                  <td >мектепте окуган бала саны</td>
                  <td>{{Nchildrens}}</td>
                </tr>
                </tbody>
              </table>
            </div>


           <div class="col-3"  style="background-color: rgba(0,0,51,0.8);margin-left: -15px;margin-bottom: 17px; font-size: 120px; color: #f9f9f9;padding-left: 40px;" >
             <i class="fa fa-user-circle" aria-hidden="true"></i><!--
<img src="../../assets/img/st.png" alt="Avatar" style="vertical-align: middle; width: 150px; height: 150px;border-radius: 10%;color: rgba(0,0,51,0.8); ">-->
           </div>
          </div>

        </div>

      </div>
    </div>

  </div>
</template>
<script>
import Pmenu from '@/components/parent/Pmenu'
import MainHeader from '@/components/MainHeader'
import {mapGetters} from 'vuex';

export default {
    components: {
        Pmenu,MainHeader
    },
     data() {
    return {
        info:[],
        balasany:''
    }
  },
  methods:{

    },
    mounted() {
        // axios
        //     .get('http://ctmax.d-oracle.com/videos/')
        //     .then(response => (this.info = response));
        this.info=this.$store.state.ParentInfo;
    },
  computed: {
    ...mapGetters([
      'Nchildrens',


    ]),

  },
}
</script>
<style>
    @import 'bootstrap/dist/css/bootstrap.min.css';
    tr:hover{
      background-color:  rgba(0,0,51,1);
      color:  whitesmoke;
    }
</style>


