<template style="background: #03A678">
  <!--///////////////////////////////////////////////////////////** template container **//////////////////////////////////////////////-->
  <div>
    <MainHeader/>

    <!------------------------------------------------------------------------------------------------------------------------->

    <!--<iframe width="860" margin-left="0" height="515" src="https://www.youtube.com/embed/7XbH76Eldj8" frameborder="0"-->
    <div id="container">  <!--allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
      <video autoplay muted loop id="myVideo">
        <source src="../Student/diary.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
      <div class="e-info">
        <button id="myBtn1" @click="myFunction()">Pause</button>
        <router-link :to="'E_info'" id="myBtn2">  artka</router-link><br>

      </div>

    </div>

  </div>
</template>
<script>
  const video = document.getElementById("myVideo");
  const btn = document.getElementById("myBtn1");

  import Stmain from '@/components/Student/Stmain'
  import MainHeader from '@/components/MainHeader'

  export default {
    data() {
      return {
        video:'',
      }
    },
    methods:{
      myFunction(){
        if (video.paused) {
          video.play();
          btn.innerHTML = "Pause";
        } else {
          document.getElementById("myVideo").pause();
          // btn.innerHTML = "Play";
        }
      }
    },
    components: {
      Stmain,MainHeader
    }
  }
</script>
<style >
  @import 'bootstrap/dist/css/bootstrap.min.css';
  #container{
    background-color: rgba(0,0,51,0.8);
    left: 0;
    right: 0;
  }
  #myVideo {
    position: fixed;
    top: 0;
    min-width: 100%;
    min-height: 100%;
  }

  .e-info {
    position: fixed;
    bottom: 0;

    color: #f1f1f1;
    width: 100%;
    padding: 20px;

  }


  #myBtn1 {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: 2px dotted  white;
    border-radius: 12px;
    background-color: rgba(0,0,51);
    color: #fff;
    text-decoration: none;

    cursor: pointer;
  }
  #myBtn2 {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border-radius: 12px;
    border: 2px dotted  white;
    background-color: rgba(0,0,51);
    color: #fff;
    cursor: pointer;
    text-decoration: none;

  }
  #myBtn1:hover,#myBtn2:hover {
    background: #ddd;
    color: black;
  }
</style>


