<template>
    <div>
        <IndexHeader/>
        <div class="container ">
            <div class="d-flex justify-content-center h-100">
                <div class="card">
                    <div class="card-header">
                        <h3>Кируу</h3>
                    </div>
                    <div class="card-body">
                        <form  method="post">
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-user" style="color: white"></i></span>
                                </div>
                                <input required type="text" class="form-control" placeholder="username" id="username" name="username" v-model="username"
                                       pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                       title="8 символдон аз  жана баардыгы сан болбойт" required>

                            </div>
                            <div class="input-group form-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fa fa-key" style="color: white"></i></span>
                                </div>
                                <input type="password" class="form-control" placeholder="password" v-model="password" required>
                            </div>

                            <div class="form-group">
                                <input type="button" value="Жонотунуз" class="btn float-right login_btn"  @click="created()" >



                            
                            </div>
                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import IndexHeader from '@/components/IndexHeader'
    import axios from 'axios'
    export default {
        components: {
            IndexHeader
        },
        name: 'app',
        data() {
            return {
                username: '',
                password: '',
                errored: false,
                data1:[]

            }
        },

        /*
          http://blog.vuejoy.com/4-axios/
            }*/
        methods: {
            created() {
                const { username, password } = this;
                axios.post(this.$store.state.post, { username, password }) .then((response) => {
                    const usertype = response.data.usertype;
                    this.data1=response.data
                    console.log(this.data1)

                    if (usertype ===4 ) {
                        this.$store.commit('GetStudentInfo',this.data1)
                        this.$router.push({ path: '/Kundoluk_info',})
                    }
                    if (usertype ===3) {
                        // this.data1=response.data
                        // console.log(this.data1)
                        this.$store.commit('GetParentInfo',this.data1)
                        this.$router.push('/E_info')
                    }
                    if (usertype === 2) {
                        // this.data1=response.data
                        // console.log(this.data1)
                        this.$store.commit('GetTeacherInfo',this.data1)
                        this.$router.push('/T_info')
                    }
                    if (usertype === 1) {
                        // this.data1=response.data
                        // console.log(this.data1)
                        this.$store.commit('GetSupervisorInfo',this.data1)
                        this.$router.push('/SE_info')
                    }
                    if (this.data1 === 'user not founf') {
                      alert(' Кечиресиз Мындай колдонуучу табылган жок :(');
                    }
                }).catch((error) => {
                    alert('Мындай колдонуучу табылган жок :(');
                })



            },
        }
    }
</script>
<style lang="" scoped>
    @import 'bootstrap/dist/css/bootstrap.min.css';

    .card{
        height: 320px;
        text-align: center;
        width: 400px;
        margin-top: 20px;
        position:fixed;
        background-color: rgba(0,0,51,0.6)!important;
    }

    .social_icon span{
        font-size: 60px;
        margin-left: 10px;
        color: #FFC312;
    }

    .social_icon span:hover{
        color: white;
        cursor: pointer;
    }

    .card-header h3{
        color: white;
    }

    .social_icon{
        position: absolute;
        right: 20px;
        top: -45px;
    }



    .input-group-prepend span{
        width: 50px;
        background-color: rgba(0,0,51,0.8);
        color: black;
        border:0 !important;
    }

    input:focus{
        outline: 0 0 0 0  !important;
        box-shadow: 0 0 0 0 !important;

    }

    .remember{
        color: white;
    }

    .remember input
    {
        width: 20px;
        height: 20px;
        margin-left: 15px;
        margin-right: 5px;
    }

    .login_btn{
        color: white;
        background-color: rgba(0,0,51,0.8);
        width: 100px;
    }

    .login_btn:hover{
        color: black;
        background-color: white;
    }
</style>
