<template>
  <div id="app" >

  <Footer/>
  <router-view></router-view>
  </div>
</template>

<script>

import HelloWorld from '@/components/HelloWorld'
import Index from '@/components/Index'
import Footer from '@/components/Footer'
export default {
  name: 'App',
  methods:{
  },
  components: {
    Footer,Index
  }
}
</script>

<style>

@import 'bootstrap/dist/css/bootstrap.min.css';
@import './assets/css/main.css';
@import './assets/css/font-awesome.css';

</style>
